@import "tailwindcss";

@source "./index.html";
@source "./src/**/*.{js,jsx,ts,tsx}";

@layer base, components, utilities;

/* Optional global custom tweaks */
body {
  @apply bg-gray-100 text-gray-900;
}

a {
  @apply text-blue-600 hover:underline;
}


